<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Archivos</title>
</head>
<body>
    <form action="{% url 'upload_file' %}" method="get">
        <button type="submit">Subir Archivo</button>
    </form>

    <h1>Lista de Archivos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>White Label</th>
                <th>Nombre</th>
                <th>Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.id }}</td>
                    <td>{{ file.white_label }}</td>
                    <td>{{ file.name }}</td>
                    <td>{{ file.create_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
