{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="d-flex" id="wrapper" style="margin: 0; padding: 0; height: 100vh; width: 100%;">
    <!-- Sidebar -->
    {% include 'queries/menu-querys.html' %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="padding: 20px; width: calc(100% - 250px);"> <!-- Ajusta el padding como sea necesario -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3 mb-4 text-gray-800">{% if form.instance.pk %}Editar Consulta{% else %}Crear Consulta{% endif %}</h1>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#queryModal">
                    Ayuda SQL
                </button>
            </div>

            <!-- Form Row -->
            <div class="row">
                <div class="col-md-12"> <!-- Usa toda la columna disponible -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Detalles de la Consulta</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <form method="post" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.title.label_tag }}
                                    {{ form.title }}
                                </div>
                                <div class="form-group">
                                    {{ form.description.label_tag }}
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    {{ form.author.label_tag }}
                                    {{ form.author }}
                                </div>
                                <div class="form-group">
                                    {{ form.active.label_tag }}
                                    {{ form.active }}
                                </div>
                                <div class="form-group">
                                    {{ form.is_public.label_tag }}
                                    {{ form.is_public }}
                                </div>
                                <div class="form-group">
                                    {{ form.sql_query.label_tag }}
                                    {{ form.sql_query }}
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        {% include 'queries/form_modal.html' %}
    </div>
</div>

{% endblock %}
