{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'artcode/css/home.css' %}">
</head>

<body>
    <div class="background">
        <div class="shapes"></div>
    </div>
    
    <main class="container">
        <h1 class="main-title">Panel de Control</h1>
        <div class="glass-grid">
            <div class="glass-card">
                <a href="{% url 'query_list_download' %}" class="card-content">
                    <div class="card-body">
                        <h3 class="card-title">Query Builder</h3>
                        <p class="card-text">
                            Natural language query builder
                        </p>
                    </div>
                </a>
            </div>

            <div class="glass-card">
                <a href="{% url 'mailing_campaign_list' %}" class="card-content">
                    <div class="card-body">
                        <h3 class="card-title">Campaign HTML Builder</h3>
                        <p class="card-text">
                            Create the HTML for the campaigns from a CSV file.
                        </p>
                    </div>
                </a>
            </div>

            <div class="glass-card">
                <a href="{% url 'dashboard_builder_app:home' %}" class="card-content">
                    <div class="card-body">
                        <h3 class="card-title">Dashboard Builder</h3>
                        <p class="card-text">
                            Create intuitive and powerful dashboards powered by artificial intelligence.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>
