{% extends 'base.html' %}
{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'queries/menu-querys.html' %}
    
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="page-title">Audiences</h1>
            
            <div class="card-glass mb-4">
                <div class="card-body">
                    <a href="{% url 'generate_csv_audiences' %}" class="btn-glass">
                        <i class="fas fa-download"></i> Download Audiences
                    </a>
                </div>
            </div>

            <div class="card-glass">
                <div class="card-body">
                    <div class="future-options">
                        <!-- Contenido futuro -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
