{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  {% include 'queries/menu-querys.html' %}

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4">Audiences</h1>
      <p>
        <a href="{% url 'generate_csv_audiences' %}" class="btn btn-primary" role="button">
          Download Audiences
        </a>
      </p>

      <!-- Future options go here -->
      <div class="future-options">
        <!-- Placeholder for future options -->
      </div>
    </div>
  </div>
</div>
{% endblock %}