{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  {% include 'queries/menu-querys.html' %}

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4">Audiences</h1>
      <p>
        <a href="{% url 'generate_csv_audiences' %}" class="btn btn-primary" role="button"
           onclick="return confirm('This may take a while. Continue?')">
          Audiences by Company
        </a>
        <a href="{% url 'generate_csv_audiences_wl' %}" class="btn btn-success ml-2" role="button"
           onclick="return confirm('This may take a while. Continue?')">
          Audiences by White Label and Services
        </a>
      </p>

      <!-- Future options go here -->
      <div class="future-options">
        <!-- Placeholder for future options -->
      </div>
    </div>
  </div>
</div>
{% endblock %}