{% extends 'base.html' %}
{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'queries/menu-querys.html' %}
    
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="page-title">Confirmar Eliminación</h1>
            
            <div class="card-glass">
                <div class="card-body">
                    <p class="lead">¿Estás seguro de que deseas eliminar "{{ object.title }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-glass text-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                        <a href="{% url 'query_list' %}" class="btn-glass ml-2">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
