<!-- template queries/detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{ query.title }}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">{{ query.description }}</p>
                    <h5 class="card-title">Author</h5>
                    <h3>{{ form.author.value }}</h3>  <!-- Mostrar el valor del campo author como etiqueta <h3> -->
                        
                    <h5 class="card-title">Created Date</h5>
                    <p class="card-text">{{ query.created_date }}</p>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
{% endblock %}
