{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'queries/menu-querys.html' %}
    
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="page-title">{% if object %}Editar{% else %}Nueva{% endif %} Query</h1>
            
            <div class="card-glass">
                <div class="card-body">
                    <form method="post" class="form-glass">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-4">
                            <button type="submit" class="btn-glass">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                            <a href="{% url 'query_list' %}" class="btn-glass ml-2">
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
